#countriesWrap {
    max-height: 300px;
    overflow-y: scroll;
}
.animation {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.animation.ng-enter {
    opacity: 0;
}
.animation.ng-leave {
    opacity: 1;
}
.animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.animation.ng-leave.ng-leave-active {
    opacity: 0;
}